.error {
    background: #ff0039;
    color: white;
    padding: .5em;
    margin-bottom: .5em;
}

section > section {
    margin-left: 2em;
}

section > small {
    margin-left: 2rem;
}

.color {
    padding: .1em;
}

.red {
    background: #ff0039;
}

.orange {
    background: #ff9400;
}

.yellow {
    background: #ffe900;
}
