.error {
    background: #ff0039;
    color: white;
    padding: .5em;
    margin-bottom: .5em;
}

section > section:not(.no-indent) {
    margin-left: 2em;
}

p {
    padding: .5em 0 0 0;
    margin: 0;
}

section > small,
p > small {
    margin-left: 2rem;
}

.color {
    padding: .1em;
}

.red {
    background: #ff0039;
}

.orange {
    background: #ff9400;
}

.yellow {
    background: #ffe900;
}

.green {
    background: #30e60b;
}
